#! /bin/bash

function tb_conda()
{
        source /om2/user/daeda/software/anaconda3/etc/profile.d/conda.sh
        # export PATH="/om2/user/daeda/software/anaconda3/bin:$PATH"
}

function tb_matlab()
{
	echo ''
	echo 'loading matlab functions'

	module add mit/matlab/2018a
	alias matlabcl="matlab -nodesktop -nosplash -nodisplay -singleCompThread"
	alias matlabclgreedy="matlab -nodesktop -nosplash -nodisplay"

	echo "$PATH"
	echo ''
	echo ''
}

function tb_webppl()
{
        echo ''
        echo 'loading webppl functions'

        export PATH="/om2/user/daeda/software/node-v6.10.3-linux-x64/bin/:$PATH"
	tb_conda

        echo "$PATH"
        echo ''
        echo ''
}

function tb_fmriprep()
{
	echo ''
	echo 'loading fmriprep functions'

	module add openmind/gcc/5.3.0
	module add openmind/singularity/2.5.1

	echo "$PATH"
	echo ''
	echo ''
}

function tb_nipype()
{
	tb_conda
	echo 'loading nipype functions'
	source activate niconda

	tb_matlab
	module add openmind/gcc/5.3.0
	module add openmind/ants/2.1.0-3.8bed08
	module add openmind/fsl/5.0.9
	module add openmind/afni/2016.03.08
	module add openmind/slicer/4.6.2
	
	# module add openmind/freesurfer/6.0.0
	export FREESURFER_HOME=/om2/user/daeda/software/freesurfer
	source $FREESURFER_HOME/SetUpFreeSurfer.sh
	echo "set default number of threads using:"
	echo "export ITK_GLOBAL_DEFAULT_NUMBER_OF_THREADS=2"
	echo ""

	# Needed for nipype
	export SPM_PATH="/om2/user/daeda/software/spm12_modified"

	echo "$PATH"
	echo ''
	echo ''

	function nicrash()
	{
		#echo "The script you are running has basename `basename $0`, dirname `dirname $0`"
		#echo "The present working directory is `pwd`"
		echo ''
		dir=$(pwd)
		echo "dir== $dir"
		unset -v latest
		  for file in "$dir"/crash-*.pklz; do
		  [[ $file -nt $latest ]] && latest=$file
		done

		echo "nipypecli crash $latest"

		nipypecli crash "$latest"
	}
}

function tb_updateconda()
{
	tb_conda

	### UPDATE
	conda update -n base conda
	conda update conda
	conda update anaconda
	conda update --all
	conda update conda
	conda update anaconda
	conda update -n webconda --all

	npm i npm
	npm i -g npm
	npm update -g
	npm --depth 9999 update
	npm update -g webppl
}

function launchkernel_iaa()
{
	cd "/om/user/daeda/ite_iaa/ite_gb_inverseappraisal/code/" || exit 
	slurmout="$(sbatch launch_remote_kernel.sbatch)"
	echo "${slurmout}"
	numeric_string_only=${slurmout//[^0-9]/}
	# echo "${numeric_string_only}"
	logfile="../logs/jupyter-log-${numeric_string_only}.txt"
	while ! [ -f ${logfile} ]; do
		printf "#"
		sleep 2
	done
	tail -f -n 50 "${logfile}"
}
