#! /bin/bash

function tb_matlab()
{
	echo ''
	echo 'loading matlab functions'

	module add mit/matlab/2017b
	alias matlabcl="matlab -nodesktop -nosplash -nodisplay -singleCompThread"
	alias matlabclgreedy="matlab -nodesktop -nosplash -nodisplay"

	echo "$PATH"
	echo ''
	echo ''
}

function tb_webppl()
{
	echo ''
	echo 'loading webppl functions'

	export PATH="/om/user/daeda/software/node-v6.10.3-linux-x64/bin/:$PATH"

	echo "$PATH"
	echo ''
	echo ''
}

function tb_fmriprep()
{
	echo ''
	echo 'loading fmriprep functions'

	module add openmind/gcc/5.3.0
	module add openmind/singularity/2.3.1

	echo "$PATH"
	echo ''
	echo ''
}

function tb_nipype()
{
	echo 'loading nipype functions'

	tb_matlab
	module add openmind/gcc/5.3.0
	module add openmind/ants/2.1.0-3.8bed08
	module add openmind/freesurfer/6.0.0
	module add openmind/fsl/5.0.9
	module add openmind/afni/2016.03.08
	module add openmind/slicer/4.6.2

	# added by Anaconda3 4.4.0 installer
	export PATH="/om/user/daeda/software/anaconda3/bin:$PATH"

	# Needed for nipype
	export SPM_PATH="/mindhive/gablab/u/daeda/software/spm12_modified"

	echo "$PATH"
	echo ''
	echo ''

	function nicrash()
	{
		#echo "The script you are running has basename `basename $0`, dirname `dirname $0`"
		#echo "The present working directory is `pwd`"
		echo ''
		dir=$(pwd)
		echo "dir== $dir"
		unset -v latest
		  for file in "$dir"/crash-*.pklz; do
		  [[ $file -nt $latest ]] && latest=$file
		done

		echo "nipypecli crash $latest"

		nipypecli crash "$latest"
	}
}
