*~
.DS_Store
._.DS_Store
*_gitignore*
._*
.afni.log
.afni.crashlog
.dcm2nii.ini
env_backup
.ipython
.matlab
.nipype
.node_repl_history
matlab_crash_dump.*
*_history
tmux_tmp
.cache
.config
.dbus
.felix
.conda/envs
.conda/pkgs
.jupyter
.local
.node-gyp
.npm
.nvm
.pki
node_modules
.gem
local/
.java
.theano
itegb_ivpa
adhder_regressions
stan_adhd_regressions*
.elinks
.mozilla
.oracle_jre_usage
.qt
.singularity
.slurm
.subversion
.vagrant.d
.x2go
analyses
itegb_exp5_permutations
share
